@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body
{
	background-color: #111;
	font-family: 'Roboto';
	font-weight: 300;
	color: white;
	padding: 0px;
	margin: 0;
	overflow-x: hidden;
}

.topnav {
	position: absolute;
    border:none;
    padding: 30px 20px;
	padding-bottom: 30px;
	width: 100vw;
	right: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #aaa;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #fff;
  background-color: #111
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #fff;
  border:none;
}

h1,h3,p,h4 
{
	font-family: 'Roboto';
	font-weight: 300;
	padding:0px 80px;
	padding-bottom: 0px;
}

h1:hover{
	cursor:pointer;
}

#copied
{
	transition: 1s;
	opacity: 1;
	position: fixed;
	top: -80px;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 20px 0px;
	background-color: green;
	margin: 0;
}
#copyable
{
	display: none;
	margin-left: 80px;
}
#copyable input
{
	font-size: 15px;
	padding: 10px;
	width: calc( 100vw - 175px );
}
#copyable button
{
	margin-left: 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
	padding: 0;
	margin: 0;
}
a
{
	text-decoration: none;
  	font-size: 20px;
	padding: 15px 20px;
	border:none;
	color: white;
	display: block;
	margin: 0;
}

.dropdown-content {
  display: none;
  background-color: #444;
  min-width: 100px;
  z-index: 1;
}

.front
{
	margin: 10px 80px;
	padding: 20px;
}
hr
{
	margin: 0px 80px;
}

button
{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 20px;
	margin: 20px 80px;
	padding: 20px;
	background-color: #151515;
	border:none;
	transition: 0.2s;
	color: white;
}

button:hover, a:hover
{
	background-color: #171717;
	cursor: pointer;
}
#filter{
	margin: 0;
	margin-bottom: 5px;
}
textarea
{
	font-family: 'Roboto';
	font-weight: 300;
	width: calc( 100vw - 175px );
	padding: 10px;
	margin: 0px 80px;
}

textarea::placeholder
{
	color: #CCC
}

label
{
	font-size: 30px;
	margin: 0px 80px;
}

.mobile{
	display: none;
}

.desktop{
	display: block;
}

#submit
{
	width: calc( 100vw - 175px );
	margin: 50px 80px;
	margin-top: 15px;
	
}
#popupwrapper
{
	display:none;
	opacity: 0;
	z-index: 100; 
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0,0.7);
	transition: 0.3s;
}

#loginwrapper input
{
	width: 100%;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid white;
	color: white;
	font-size: 20px;
	font-family: 'Roboto';
	font-weight: 300;
}

#loginwrapper
{
	padding: 60px 40px 40px 40px;
}
#loginwrapper label
{
	margin: 0;
	font-size: 25px;
}
#login
{
	margin-bottom: 0;
}
#popup
{
	transition: 0.4s;
	position: absolute;
	display:none;
	width: 30%;
	right: calc( 35vw - 20px );
	left: calc( 35vw - 20px );
	top: -50vh;
	padding: 40px;
	background-color: #111;
}
#popup button{
	margin: 5px;
	width: 45%;
}
#popup #yes
{
	background-color: #dd0000;
}
#popup #yes:hover
{
	background-color: #880000;
}

.items
{
	width: calc( 100% - 160px );
	margin-left: 80px;
	border-collapse: collapse;
	table-layout: fixed;
}

.item
{
	height: 65px;
	border-top: 1px solid #2227;
	border-bottom: 1px solid #2227;
}

.item p
{
	padding: 0px;
}

.item > *
{
	font-weight: 200;
	height: 100%;
}

.item .email
{
	text-align: left;
}

.item .options
{
	text-align: right;
	/* width: 0%; */
	font-size: 20px;
	padding: 0px;
}
.options i
{
	transition: 0.1s;
}

.options i:hover
{
	cursor: pointer;
	opacity: 0.8;
}

.item .email
{
	
}
.item button
{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: transparent;
	color: white;
	font-family: 'Roboto';
}

@media (max-width: 1000px)
{
	
	.topnav
	{
		position: fixed;
		right:40px;
		padding: 0px 0px;
	}
	.topnav > a
	{
	}
	.mobile{
		display: block;
	}

	.desktop{
		display: none;
	}
	#menuwrapper{
		display: none;
        border: none;
        padding: 0px 0px;
        position: fixed;
        z-index: 10001;
        position: absolute;
        right:-140px;
        top:15px;
		background-color: #111
    }
	#menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
		min-height: 100vh;

	}
	#menu a{
        margin: 0px;
        font-size: 18px;
		background-color: #111;
    }
	
	h1,h3,p,h4 
	{
		padding:0px 50px;
	}
	hr
	{
		margin: 0px 50px;
	}
	label
	{
		font-size: 25px;
		margin: 0px 50px;
	}
	.front
	{
		margin: 10px 50px;
		padding: 20px;

	}
	textarea
	{	
		width: calc( 100vw - 115px );
		margin: 0px 50px;
	}
	button
	{
		margin: 20px 50px;
	}
	.dropdown-content {
	  margin-left: 50px;
	}
	#submit
	{
		width: calc( 100vw - 115px );
		margin: 50px 50px;
		margin-top: 15px;
	}
	#popup
	{
		width: 55%; 
		margin: 30vh auto;
		padding: 40px;
		background-color: #111;
		
		
		
	}
	#popup button{
		margin: 5px;
		width: 90%;
		margin-bottom: 20px;
	}
	#popup #yes
	{
		background-color: #dd0000;
		margin-bottom: 5px;
	}
	#popup #yes:hover
	{
		background-color: #880000;
	}
	#menubutton
	{
		background-color: transparent;
	}
}

