@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body
{
	background-color: #111;
	font-family: 'Roboto';
	font-weight: 300;
	color: white;
	padding: 0px;
	margin: 0;
	overflow-x: hidden;
}

.topnav {
    border:none;
    padding: 30px 20px;
	padding-bottom: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #aaa;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #fff;
  background-color: #111
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #fff;
  border:none;
}

h1,h3,p,h4 
{
	font-family: 'Roboto';
	font-weight: 300;
	padding:0px 80px;
	padding-bottom: 0px;
}

h1:hover{
	cursor:pointer;
	color: #aaa;
}


.dropdown {
  position: relative;
  display: inline-block;
}
a
{
	text-decoration: none;
  	font-size: 20px;
	padding: 15px 20px;
	border:none;
	color: white;
	display: block;
}

.dropdown-content {
  display: none;
  margin-left: 80px;
  //position: absolute;
  background-color: #444;
  min-width: 100px;
  z-index: 1;
}

.front
{
	margin: 10px 80px;
	padding: 20px;
}
hr
{
	margin: 0px 80px;
}

button
{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 20px;
	margin: 20px 80px;
	padding: 20px;
	background-color: #222;
	border:none;
	color: white;
}

button:hover, a:hover
{
	background-color: #000;
	cursor: pointer;
}
#filter{
	margin-bottom: 5px;
}
textarea
{
	font-family: 'Roboto';
	font-weight: 300;
	width: calc( 100vw - 175px );
	padding: 10px;
	margin: 0px 80px;
}

textarea::placeholder
{
	color: #CCC
}

label
{
	font-size: 30px;
	margin: 0px 80px;
}

.mobile{
	display: none;
}

.desktop{
	display: block;
}

#submit
{
	width: calc( 100vw - 175px );
	margin: 50px 80px;
	margin-top: 15px;
	
}

@media (max-width: 1000px)
{
	
	.topnav a
	{
		transition: 0.5s;
		position: absolute;
		right:40px;
		padding: 0px 0px;
	}
	.mobile{
		display: block;
	}

	.desktop{
		display: none;
	}
	#menuwrapper{
		overflow: hidden;
		transition: 0.5s;
        border: none;
        padding: 0px 0px;
        position: fixed;
        z-index: 10001;
        position: absolute;
        right:-140px;
        top:15px;
		background-color: #111
    }
	#menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
		min-height: 100vh;

	}
	#menu a{
        margin: 0px;
        font-size: 18px;
		background-color: #111;
    }
	
	h1,h3,p,h4 
	{
		padding:0px 50px;
	}
	hr
	{
		margin: 0px 50px;
	}
	label
	{
		font-size: 25px;
		margin: 0px 50px;
	}
	.front
	{
		margin: 10px 50px;
		padding: 20px;

	}
	textarea
	{	
		width: calc( 100vw - 115px );
		margin: 0px 50px;
	}
	button
	{
		margin: 20px 50px;
	}
	.dropdown-content {
	  margin-left: 50px;
	}
	#submit
{
	width: calc( 100vw - 115px );
	margin: 50px 50px;
	margin-top: 15px;
}

